<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# MY JUPYTER NOTEBOOK

# Introduction - Assignment

 Data Science Languages
 1. Python
 2. SQL
 3. Java
 4. Scala
 5. Julia
 6. MATLAB
 7. JavaScript
 8. SAS
 9. NumPy
 10. Pandas

# Objectives
Unordered list
- Bullet list
- table list
- hyperlink
- libraries

Data Science Libraries
- Scikit-Learn
- Tensor flow
- PyTorch
- Theano

## Table of Data Science Tools
* [RapidMiner]
* [Apache spark]
* [Tableau]
* [TensorFlow]
* [Apache Hadoop]

Introducing Arithmetic Expression Examples. 
1. An identifier described as a numeric elementary item (including numeric functions).
2. A numeric literal
3. The figurative constant ZERO
4. Identifiers and literals, as defined in items 1, 2, and 3, separated by arithmetic operators
5. Two arithmetic expressions, as defined in items 1, 2, 3, or 4, separated by an arithmetic operator
6. An arithmetic expression, as defined in items 1, 2, 3, 4, or 5, enclosed in parentheses

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minute=200
hours=minute//60
print("hours",hours)

hours 3

## Author
Pasuladhi Shireesha